.profile-header {
  gap: 100px;
  align-items: center;
  margin: 70px;
  gap: 60px;
  align-items: flex-start;
}
.profile-header img {
  border-radius: 50%;
  max-width: 200px;
}

.profile-info {
  gap: 60px;
  align-items: center;
}
.profile-info .profile-info-right {
  gap: 20px;
}
.profile-info .profile-info-right .info-title {
  gap: 15px;
  align-items: center;
}
.profile-info .profile-info-right .info-tags {
  gap: 30px;
}

.title-username {
  font-size: 28px;
  font-weight: 350;
  color: #262626;
}

.profile-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0px 25px;
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}
.profile-story img {
  width: 67px;
}
.profile-story span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}

.nav {
  width: 200px;
  margin-top: 40px;
}
.nav .logo {
  margin-bottom: 20px;
}
.nav ul {
  align-items: flex-start;
  gap: 20px;
}
.nav a {
  color: #262626;
  font-family: "Roboto";
  gap: 10px;
}

footer {
  padding: 20px 0px;
  justify-content: center;
}
footer .footer-container {
  gap: 20px;
}
footer .footer-container > * {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 18px;
}
footer a, footer span, footer select {
  color: #8E8E8E;
  font-size: 12px;
}
footer select {
  border: 0px;
  justify-content: left;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI";
  text-decoration: none;
  list-style: none;
}

b {
  color: #262626;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  max-width: 935px;
}

.toggle-nav ul {
  border-top: 1px solid #e0e0e0;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
  padding-left: 130px;
  padding-right: 130px;
}
.toggle-nav ul li:has(a.active) {
  border-top: 1px solid #262626;
}
.toggle-nav ul a {
  color: #8E8E8E;
  padding: 15px;
}
.toggle-nav ul a.active {
  color: #262626;
}
.toggle-nav .icon::before {
  width: 12px;
  height: 12px;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  padding-right: 5px;
}

.icon-posts::before {
  background-image: url("../assets/images/icons/posts.svg");
}

.icon-guides::before {
  background-image: url("../assets/images/icons/guides.svg");
}

.icon-reels::before {
  background-image: url("../assets/images/icons/reels.svg");
}

.icon-videos::before {
  background-image: url("../assets/images/icons/videos.svg");
}

.icon-tagged::before {
  background-image: url("../assets/images/icons/tagged.svg");
}

.thumbnail-multiphoto::after {
  background-image: url("../assets/images/thumbnail-icons/carousel.svg");
}

.thumbnail-video::after {
  background-image: url("../assets/images/thumbnail-icons/reels.svg");
}

.icon-reels2::before {
  background-image: url("../assets/images/icons/reels2.svg");
}

.icon-search::before {
  background-image: url("../assets/images/icons/search.svg");
}

.icon-more::before {
  background-image: url("../assets/images/icons/more.svg");
}

.icon-notifications::before {
  background-image: url("../assets/images/icons/notifications.svg");
}

.icon-profile::before {
  background-image: url("../assets/images/icons/profilepic.png");
}

.icon-create::before {
  background-image: url("../assets/images/icons/create.svg");
}

.icon-messages::before {
  background-image: url("../assets/images/icons/messages.svg");
}

.icon-explore::before {
  background-image: url("../assets/images/icons/explore.svg");
}

.icon-home::before {
  background-image: url("../assets/images/icons/home.svg");
}

.icon-settings::before {
  background-image: url("../assets/images/icons/settings.svg");
}

button {
  background-color: #0095f6;
  padding: 5px 20px;
  color: white;
  border-radius: 4px;
  border: 0px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  max-width: 935px;
}
#posts > div { /* Image container */
  position: relative;
  -webkit-animation: filter 0.3s ease-in-out;
          animation: filter 0.3s ease-in-out;
}
#posts > div img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
#posts > div:hover {
  filter: brightness(0.8);
}
#posts > div.thumbnail-icon::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  width: 28px;
  height: 28px;
  display: block;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.flexrow {
  display: flex;
}

.flexcol {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */